<div class="main-content">
  <div class="header">
    <h1>Questions and Answers</h1>
  </div>
  <div class="content question">
    <p><%= @question %></p>
    <p class="author"> - You</p>
  </div>
  <div class="content answer">
    <p><%= @answer %></p>
    <p class="author"> - Coach</p>
  </div>
  <div class="back">
    <a href="/ask" class="btn-back">Ask another question</a>
  </div>
</div>
