
<div class="main-content">
  <h1>Ask a question</h1>
  <div class="form">
    <form action="/answer" method="get">
    <input class="input" type="text" name="question_input" placeholder="Ask a question">
    <input class="btn-back"type="submit" value="Sumbit">
    </form>
  </div>
</div>

